table {
  border-spacing: 0;
  empty-cells: hide;
}
caption {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
td {
  padding: 10px;
  padding-left: 10px;
  text-align: center;
  border-bottom: 1px solid #f4eee8;
  transition: all 0.5s linear;
}
td:first-child {
  text-align: left;
  color: #3d3511;
  font-weight: bold;
  text-align: center;
}
td:last-child {
  text-align: left;
}

th {
  padding: 10px 20px;
  color: #3d3511;
  border-bottom: 1px solid #f4eee8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
td:nth-child(even) {
  background: #f6d27e;
}
td:nth-child(odd) {
  background: #d1c7bf;
}
th:nth-child(even) {
  background: #f6d27e;
}
th:nth-child(odd) {
  background: #d1c7bf;
}
.round-top {
  border-top-left-radius: 5px;
}
.round-bottom {
  border-bottom-left-radius: 5px;
}
tr:hover td {
  background: #d1c7bf;
  font-weight: bold;
}
div {
  margin-top: 30px;
  margin-left: 30px;
}
